mirrors:
  docker.io:
    endpoint:
      - https://docker.m.daocloud.io
      - https://dockerproxy.com
  ghcr.io:
    endpoint:
      - https://ghcr.nju.edu.cn
  quay.io:
    endpoint:
      - https://quay.mirrors.ustc.edu.cn

